.beautiful {
    background-color: #e7f1f8;
    padding: 120px 0 108px 0;
    &__descr {
        margin-top: 25px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #3c4761;
    }
    &__wrap {
        margin-top: 79px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 203px;
    }
    &__icons {
        margin: 0 auto;
        width: 205px;
        min-height: 205px;
        img {
            width: 100%;
        }
    }
    &__subtitle {
        text-transform: uppercase;
        text-align: center;
        margin-top: 42px;
        font-size: 24px;
        font-weight: 800;
    }
    &__name {
        text-align: center;
        margin-top: 15px;
        font-size: 16px;
        font-weight: 500;
        color: #30bae7;
    }
    &__info {
        text-align: center;
        margin-top: 26px;
        font-size: 16px;
        font-weight: 300;
        color: #3c4761;
    }
    &__social {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: #bdd1df;
        border-radius: 50%;
        color: #ffffff;
        font-size: 15px;
        transition: 0.8s all;
        &:hover {
            text-decoration: none;
        }
    }
}